body{
    width: 100%;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;  
}

.card{
    width: 80%;
    margin: 10em auto;
    padding: 3em;
}